extends layout

block content
  - 
    client_list.sort(function(a, b) {let textA = a.company_name.toUpperCase(); 
    let textB = b.company_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});

  Lable() Search Bar
  | 
  input(type='text' id='searchme' 
    placeholder="key in name of person or/and company, and/or email then press ENTRE, use space to seperate multi-items, example: Pindan Jim Green"
    style={width: '880px' }) 
  //background: '#99ff33'
  | 
  Label() Hits - Empty and hit ENTER to show all clients

  table(id='client_table' class='default_table')
    tr
      th Company Name
      th Person Name
      th email
      th Mobile
      th Phone
      th Fax
      th Address
      th Active
    each client in client_list
      tr(id='each_row')
        td #{client.company_name} 
        td #{client.person_name} 
        td #{client.email} 
        td #{client.mobile} 
        td #{client.phone} 
        td #{client.fax} 
        td #{client.address} 
        td #{client.active} 

  script(type='text/javascript').
    $(document).ready(function() {
      var client_list = JSON.parse('!{JSON.stringify(client_list)}');

      function show_all(){
        $("td").detach();
        for(let i = 0; i < client_list.length; i++){
          insert_one_row(client_list[i]);
          console.log(client_list[i]);
        }
        return;
      }
      
      $("#searchme").on('keyup', function (e) {
        if (e.keyCode === 13) {
            search_button();
        }
        return;
      });
      
      function search_button(){
        const searchme = $('#searchme').val();
        const searchstr = searchme.split(/ +/);
        console.log(client_list);
        if (searchstr[0] === "" ) {
          show_all();
          return;
        }
        
        $("td").detach();
        client_list.forEach(function(client, index, array) {
          let i = 0;
          let current_client = (client.company_name + client.email + client.person_name).toUpperCase();
          for (; i < searchstr.length ; i++){
            if (!current_client.includes(searchstr[i].toUpperCase())) break;
          }
          if (i === searchstr.length){
            insert_one_row(client);
          }
        });
      }

      function insert_one_row(client){
        var row = $('<tr/>');
        row.append($("<td/>").text(client.company_name));
        row.append($("<td/>").text(client.person_name));
        row.append($("<td/>").text(client.email));
        row.append($("<td/>").text(client.mobile));
        row.append($("<td/>").text(client.phone));
        row.append($("<td/>").text(client.fax));
        row.append($("<td/>").text(client.address));
        row.append($("<td/>").text(client.active));
        $("#client_table").append(row);
      }
    });