extends layout

block content
  //- h1= title
  
  - quote_list.sort(function(a, b) {let A = a.pro_no; let B = b.pro_no; return (A > B) ? -1 : (A < B) ? 1 : 0;});
  table(id='quote_table' class='default_table')
    tr
      th Number
      th Project Name
      th Address
      th Value
      th By
      //- th Reviewed
      th Note
      th Due Date
    each quote in quote_list
      tr
        td #{quote.quote_no} 
        td #{quote.name} 
        td #{quote.address} 
        td $#{quote.value} 
        td #{quote.prepared_by} 
        //- td #{quote.reviewed_by} 
        td #{quote.note} 
        td #{quote.due_date_Aus} 
        